:root {
  --dark: rgba(0, 0, 0, 0.7);
  --light: rgba(0, 0, 0, 0.1);
  --lightest: rgba(0, 0, 0, 0.05);
  --1gu: 8px;
  --2gu: 16px;
  --3gu: 24px;
  --4gu: 32px;
  --5gu: 40px;
}

body {
  margin: 0;
}

.Layout {
  display: grid;
  grid-gap: var(--1gu);
}

.Header {
  border-bottom: 2px solid var(--light);
  color: var(--dark);
  grid-column: 1 / 4;
  grid-row: 1;
  padding: var(--1gu);
  margin: 0;
}

.File-list {
  border-right: 2px solid var(--light);
  grid-column: 1;
  grid-row: 2 / 10;
  list-style: none;
  margin-top: var(--1gu);
  padding: 0;
}

.File-list-item {
  padding: var(--2gu) var(--2gu);
}

.File-list-item:hover {
  background-color: var(--light);
}

.File-list-item.selected {
  background-color: var(--lightest);
}

.Detail {
  grid-column: 2 / 4;
  grid-row: 2 / 10;
  white-space: pre;
}
