.Action-group {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--1gu) var(--1gu)!important;
}

.Action {
  align-items: center;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  transition: color .1s;
}

.Action:not(.Action--disabled):hover .Action-text {
  text-decoration: underline;
}

.Action--disabled {
  color: var(--medium)!important;
  cursor: inherit!important;
  text-decoration: none!important;
}

.Action-button {
  background-color: var(--primary);
  border: 1px solid var(--dark);
  border-radius: 1px;
  color: var(--dark);
  letter-spacing: 1px;
  font-family: var(--accent);
  padding: var(--1gu) var(--2gu);
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Action-button.Action--disabled {
  background-color: var(--medium);
}

.Action--toggle * {
  cursor: pointer;
  display: inline-block;
}

.Action--toggle:hover {
  text-decoration: none;
}

.Action--toggle input[type="checkbox"] {
  opacity: 0;
}

.Action--toggle input[type="checkbox"] ~.Action-control {
  background-color: var(--faint);
  border: 1px solid var(--dark);
  border-radius: 10px;
  content: "";
  height: 10px;
  left: -5px;
  position: relative;
  transition: all .5s;
  width: 30px;
}

.Action--toggle input[type="checkbox"] ~.Action-control:after {
  background-color: gray;
  border: 1px solid var(--dark);
  border-radius: 100%;
  content: "";
  height: 16px;
  left: -7px;
  position: absolute;
  transition: all .5s;
  top: -4px;
  width: 16px;
}

.Action--toggle input[type="checkbox"]:checked ~.Action-control {
  background-color: var(--okay);
}

.Action--toggle input[type="checkbox"]:checked ~ .Action-control:after {
  left: calc(100% - 11px);
}
