.Action-group {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--1gu) var(--1gu)!important;
}

.Action {
  align-items: center;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  outline: none;
  transition: all .1s;
}

.Action-button {
  background-color: white;
  border: 1px solid var(--dark);
  border-radius: 1px;
  color: var(--dark);
  letter-spacing: 1px;
  font-family: var(--accent);
  font-weight: normal;
  padding: var(--1gu) var(--2gu);
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  transition: all .1s;
}

/* Focused actions */
.Action:not(.Action--disabled):hover .Action-text,
.Action:focus .Action-text,
.Action-button:focus {
  text-decoration: underline!important;
}

/* Focused buttons */
.Action-button:hover,
.Action-button:focus {
  background-color: var(--faint);
}

/* Disabled actions */
.Action.Action--disabled,
.Action-button.Action--disabled {
  color: var(--medium)!important;
  cursor: inherit!important;
  text-decoration: none!important;
}

/* Disabled buttons */
.Action-button.Action--disabled {
  background-color: var(--medium);
}