@import './styles/root.css';
@import './styles/utilities.css';
@import './styles/Action.css';
@import './styles/Form.css';
@import './styles/Grid.css';
@import './styles/List.css';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--dark);
  margin: 0;
}

/* CodeMirror override */
.CodeMirror {
  height: auto!important;
}
