.Help {
  border-collapse: collapse;
  font-family: var(--body);
  text-align: left;
  min-width: 500px;
  max-width: 900px;
}

.Help th,
.Help td {
  border-bottom: 2px solid var(--light);
  padding: var(--1gu) 0;
}

.Help tr:last-child td {
  border-bottom: none;
}
