.Form {
  padding: var(--2gu);
  width: 500px;
}

.Form-title,
.Form-input,
.Form-label,
.Form-legend,
.Form-error,
.Form-submit {
  color: var(--dark);
  font-family: var(--accent);
}

.Form-group {
  display: block;
  margin-bottom: var(--1gu);
}

.Form-group:last-child {
  margin-bottom: 0;
}

.Form-group--right {
  text-align: right;
}

.Form-title {
  font-size: var(--2gu);
  margin: 0 0 var(--2gu);
}

.Form-legend,
.Form-label {
  font-size: var(--2gu);
}

.Form-radio-label {
  font-size: var(--1gu);
}

.Form-input {
  border: 1px solid var(--dark);
  border-radius: 1px;
  display: inline-block;
  padding: var(--1gu);
  width: 100%;
}

.Form-dropdown {
  display: block;
}

.Form-error {
  color: var(--error);
}

.Form-submit {
  background-color: white;
  border: 1px solid var(--dark);
  border-radius: 1px;
  color: var(--dark);
  cursor: pointer;
  letter-spacing: 1px;
  font-family: var(--accent);
  padding: var(--1gu) var(--2gu);
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  transition: all .1s;
}

.Form-submit:hover {
  background-color: var(--faint);
}
