.List {
  border-right: 2px solid var(--light);
  color: var(--dark);
  font-family: var(--accent);
  list-style: none;
  margin: 0;
  padding: 0;
}

.List-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: var(--2gu);
}

.List-item--message {
  display: block!important;
  text-align: center;
}

.List-item:hover {
  background-color: var(--faint);
}

.List-item.selected {
  border-left: 4px solid var(--bold);
  font-style: italic;
  font-weight: bold;
}

.List-item--message:hover {
  background-color: inherit!important;
  cursor: inherit!important;
}
