.Layout {
  display: grid;
  grid-gap: var(--1gu);
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "banner banner"
    "sidebar body"
  ;
  padding-top: 55px;
}

.Layout-cell--header {
  background-color: white;
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 6;
}

.Layout-cell--banner {
  grid-area: banner;
}

.Layout-cell--sidebar {
  border-right: 2px solid var(--light);
  grid-area: sidebar;
}

.Layout-cell--body {
  grid-area: body;
  overflow: auto;
}
