.Modal-overlay {
  align-items: center;
  background-color: var(--dark);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.Modal {
  background-color: var(--background);
  min-height: 50px;
  min-width: 500px;
  position: relative;
}

.Modal-content {
  padding: var(--1gu) var(--3gu);
  max-height: 500px;
  overflow: auto;
}

.Modal-content > * {
  margin: auto;
}

.Modal-fixedTop {
  border-bottom: 1px solid var(--faint);
  display: block;
  left: 0;
  padding: var(--1gu) var(--2gu);
  top: 0;
  width: 100%;
}

.Modal-header {
  font-family: var(--body);
}

.Modal-close {
  color: var(--dark);
  cursor: pointer;
  font-size: var(--3gu);
  position: absolute;
  right: var(--1gu);
  transition: color .1s;
  top: var(--1gu);
}

.Modal-close:hover {
  color: var(--bold);
}
