.Header {
  background-color: var(--faint);
  border-bottom: 2px solid var(--light);
  color: var(--bold);
  font-family: var(--accent);
  text-align: center;
}

.Header-text {
  display: inline-block;
  font-family: var(--body);
  font-size: small;
  margin: 0;
}