.Header {
  align-items: center;
  background-color: var(--faint);
  border-bottom: 2px solid var(--light);
  color: var(--bold);
  display: flex;
  font-family: var(--accent);
  justify-content: space-between;
}

.Header-text {
  display: inline-block;
  font-family: var(--body);
  font-size: small;
  margin: 0;
}

.Header-action {
  position: relative;
}
